{% extends "dashboards/dashboard_layout.html" %}

{%block list %}
  <li class="active pr-1 pb-2 " active><a data-toggle="tab" href="#home">Home</a></li>
  <li class="pr-1 pb-2"><a data-toggle="tab" href="#addTenant">Add New Tenant</a></li>
  <li class="pr-1 pb-2"><a data-toggle="tab" href="#safety">Send Safety Reminders </a></li>
  <li class="pr-1 pb-2"><a data-toggle="tab" href="#view_tenant">View Tenants</a></li>
  <li class="pr-1 pb-2"><a data-toggle="tab" href="#manage_building">Manage Building</a></li>
 {%endblock%}

{%block listTarget%}
  <div id="home" class="tab-pane fade in show active">
    {% include 'dashboards/manager_home.html' %}
  </div>
  <div id="addTenant" class="tab-pane fade col-12">
    {% include 'dashboards/addTenant.html' %}
  </div>
  <div id="safety" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
  <div id="view_tenant" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
  <div id="manage_building" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
{%endblock%}
